/* .container {    
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
} */
h1 {
    color: #353535;
}
p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #01271a;
}
.button-create {
    display: block;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    border: 0;
    margin: 20px 0 20px 0;
    padding: 10px 50px;
}
.button-dark {
    color: #fff;
    background-color: #002b15;
    transition: .3s ease all;
}
.button-delete {
    padding: 10px 30px;
    border: 0;
    background-color: #940025;
    color: #fff;
    transition: .3s ease all;
    border-radius: 50px;
}
.button-delete:hover {
    background-color: #38000e;
    transition: .3s ease all;
}
.button-dark:hover {
    color: #fff;
    background-color: #005a1b;
    transition: .3s ease all;
}
.table-saved-person {
    border-collapse: collapse;
    border: 1px solid rgb(150, 150, 150);
}
th,  td {
    border: 1px solid rgb(150, 150, 150);
}
.hidden {
    display: none;
}

